env
db.sqlites3
.env
readings/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
readings/migrations/__pycache__/
unahealth/__pycache__/
readings/management/__pycache__/
__pycache__/
*.pyc
.DS_Store
